doctype html
html(lang="es")

head
    title tienda de fruta
    link(rel="stylesheet", href="/css/estilos.css")

body
    h1
        a(href="tienda_de_fruta.com") Tienda de Camisetas
    
    div
        p Nuestra tienda de camisetas ofrece lo mejor, satisfacción 100% garantizada

        img(src="images/camiseta1.png")

    h2 Nuestras Camisetas

    ul
        li camiseta 1
        li camiseta 2
        li camiseta 3
        li camiseta 4