doctype html
html(lang="es")
	
	head
		title="Titulo de la pagina"
		link(href="stylesheets/estilos.css", rel='stylesheet')

	body
		h1 
			a(href="/")=titulo
			

		div.contenedor

		
		- for (var i = 0; i < camisetas.length ; ++i) {
			div.item
				h2="Camiseta " +camisetas[i].titulo
				img(src=camisetas[i].imagen, width="250")
				a(href="/tienda/comprar/" + camisetas[i].titulo  ).comprar  Comprar
		- }

		