doctype html
html(lang="es")
	
	head
		title="Titulo de la pagina"
		link(href="/stylesheets/estilos.css", rel='stylesheet')

	body
		h1 
			a(href="/") Tienda De Camisetas

		
		div.contenedor
			h2="Gracias por comprar la camiseta " + titulo

			img(src="/" + imagen, width="250")



			a(href="/tienda").comprar  Regresar