doctype html
html(lang="es")

head
    title #{titulo}
    link(rel="stylesheet", href="/css/estilos.css")

body
    h1 
        a(href="ejemplo_pug.org") Comprar camiseta color #{color}

    div
        h2 Vista previa
        img(src=datos.imagen, alt="camiseta")


    
