doctype html
html(lang="es")

head
    title #{titulo}
    link(rel="stylesheet", href="/css/estilos.css")

body
    h1 
        a(href="ejemplo_pug.org") Bienvenido a mi tienda

    div
        p #{textoParrafo}

        img(src="images/camiseta1.png", alt="camiseta")


    h2
        a(href="/tienda.html") Nuestra tienda

     
