doctype html
html(lang="es")

head
    title #{titulo}

body
    h1 
        a(href="ejemplo_pug.org") Bienvenido a mi tienda

    div
        p #{textoParrafo}

        img(src="images/camiseta1.png", alt="camiseta")


    h2 Nuestras Camisetas

    ul
        li camiseta 1
        li camiseta 2
        li camiseta 3
        li camiseta 4
