doctype html
html(lang="es")

head
    title este es el nombre de mi app

body
    h1 
        a(href="ejemplo_pug.org") Bienvenido a mi tienda

    div
        p Nuestra tienda de camisetas ofrece lo mejor, satisfacción 100% garantizada

        img(src="images/camiseta1.png", alt="camiseta")


    h2 Nuestras Camisetas

    ul
        li camiseta 1
        li camiseta 2
        li camiseta 3
        li camiseta 4
